<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
<h2>✓ Generated a new token</h2>
<div style="font-size:70%;overflow-wrap:anywhere;word-wrap:break-word">
<%= token %>
</div>
<br/><br/>
<b>For following options</b><br/>
<ul>
<li>Header : { "alg":"<%= algorithm %>", "typ":"JWT" }</li>
<li>Payload: <%= JSON.stringify(payload) %></li>
<li>Secret: A secret only server knows</li>
</ul>
> <a href="https://tools.ietf.org/html/rfc7520#section-4.1.2" target="_blank" style="opacity:0.7;">Read about the signing operation</a>            
<br/><br/>
<a target="_blank" href="/verify/<%= token %>">Server can verify this token</a> 
with secret key(for HMAC algorithm) or the public key(for RSA algorithm)<br/>
<br/><br/>
<h3>Let's put the token to some use now</h3>
<a href="/demo/protected?access_token=<%= token %>">Next: Access resource protected with this token</a>
<br/><br/><br/><br/>
<a href="/jwt/form" style="opacity:0.7;">Create a new token with different algorithm</a><br/><br/>
<a href="/">Go Home</a><br/>

<br/><br/><br/><br/><br/><br/>
<footer>
<span style="opacity:0.8;float:left;font-size:80%;">
    <a href="<%= NEW_ISSUE_URL %>" target="_blank" target="_blank">Report a bug/improvement</a>
    <br/><a href="https://twitter.com/intent/tweet?text=%22Learn%20JWT%20by%20reverse%20engineering%22%20%20%40pradeep_io&url=<%= CODE_REPOSITORY %>" target="_blank">Share on twitter</a>
    <br/><br/><a href="/docs" target="_blank">Read Documentation</a>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <br/><br/><a style="padding-top:12px;" class="github-button" href="<%= CODE_REPOSITORY %>" data-color-scheme="no-preference: light; light: light; light: light;" data-size="small" data-show-count="true" aria-label="Star the repo on GitHub">Star/Fork the repo</a>
</span>
<span style="opacity:0.8;float:right;font-size:80%;">
    <span>Created by <a href="https://twitter.com/pradeep_io" target="_blank">@pradeep_io</a></span>
</span>
<br/><br/><br/>
</footer>